<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020 Zavarov
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<config>
    <entry key="status_interval">5</entry>
    <entry key="activity_interval">15</entry>
    <entry key="discord_shards">2</entry>
    <entry key="interactive_message_age">15</entry>
    <entry key="support_invite">INVITE_LINK</entry>
    <entry key="bot_name">DISCORD_NAME</entry>
    <entry key="bot_version">VERSION</entry>
    <entry key="bot_invite">https://discordapp.com/oauth2/authorize?client_id=%s&amp;scope=bot</entry>
    <entry key="command_identifier">Command</entry>
    <entry key="data_identifier">Identifier1</entry>
    <entry key="data_identifier">Identifier2</entry>
    <entry key="data_folder">data</entry>
    <entry key="command_prefix">b.</entry>
</config>
