<?xml version="1.0" encoding="UTF-8"?>
<config>
    <entry key="status_interval">5</entry>
    <entry key="activity_interval">15</entry>
    <entry key="discord_shards">2</entry>
    <entry key="interactive_message_age">15</entry>
    <entry key="support_invite">INVITE_LINK</entry>
    <entry key="bot_name">DISCORD_NAME</entry>
    <entry key="bot_version">VERSION</entry>
    <entry key="bot_invite">https://discordapp.com/oauth2/authorize?client_id=%s&amp;scope=bot</entry>
    <entry key="command_identifier">Command</entry>
    <entry key="data_identifier">Identifier1</entry>
    <entry key="data_identifier">Identifier2</entry>
    <entry key="data_folder">src/test/resources</entry>
    <entry key="command_prefix">b.</entry>
</config>
