<?xml version="1.0" encoding="UTF-8"?>
<config>
    <entry key="status_interval">5</entry>
    <entry key="activity_interval">15</entry>
    <entry key="discord_shards">10</entry>
    <entry key="interactive_message_age">15</entry>
    <entry key="support_invite">support_invite</entry>
    <entry key="bot_name">name</entry>
    <entry key="bot_version">1.0</entry>
    <entry key="bot_invite">bot_invite</entry>
    <entry key="command_identifier">Command</entry>
    <entry key="data_identifier">Identifier1</entry>
    <entry key="data_identifier">Identifier2</entry>
    <entry key="data_folder">src/test/resources</entry>
    <entry key="command_prefix">\</entry>
    <entry key="command_help">help</entry>
    <entry key="image_height">5</entry>
    <entry key="image_width">10</entry>
</config>

